In [12]:
import json
import requests
import pandas as pd


           #!/usr/bin/env python

data = {
    'token': 'CCE7A4B3518114769C553D5DAC5C7267',
    'content': 'record',
    'action': 'export',
    'format': 'csv',
    'type': 'flat',
    'csvDelimiter': '',
    'forms[0]': 'follow_up_visit_day_90',
    'forms[1]': 'follow_up_visit_day_180',
    'forms[2]': 'follow_up_visit_day_360',
    'rawOrLabel': 'raw',
    'rawOrLabelHeaders': 'raw',
    'exportCheckboxLabel': 'false',
    'exportSurveyFields': 'false',
    'exportDataAccessGroups': 'false',
    'returnFormat': 'json'
}
r = requests.post('https://redcapsvr2.ahri.gov.et/api/',data=data)
print('HTTP Status: ' + str(r.status_code))
data = pd.DataFrame(r)

HTTP Status: 200

                                                       0
11336  b'6,,,,,,,,56,33.8,15,,253,0,,,,,0,,,,,1,,0,0,...
11337  b'0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,,,,,...
11338  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,1,0,...
11339  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
11340  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
...                                                  ...
11521  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
11522  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
11523  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
11524  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...
11525  b',,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...

[190 rows x 1 columns]

In [13]:
data.to_csv('my_data.csv')